#LoginCenter{ text-align: center;}
#LoginCenter div{ display: block;;}



#LoginFooter {
      position:fixed;
      text-align: center;
      bottom: 10px;
      width: 100%;

}

#LoginInput {
      border-radius: 6px;
      font-family: brandon-grotesque, sans-serif;
      font-style: normal;
      font-weight: 900;
      color: #d3ddf2;
      font-size: 13px;
      border:solid 2px #d3ddf2;
      padding:3px;
      margin: 2px;
      height: 40px;
      width: 300px

  }

.center {
  position: relative;
}

.footerLoginFlieder {
    color: #8da6d6;
    font-size: 9px;
}

.footerLoginNacht {
    color: #001a3a;
    font-size: 9px;
}

.buttonLogin {
    background-color: #001a3a;
    font-family: brandon-grotesque, sans-serif;
    font-style: normal;
    font-weight: 900;
    color: #FFFFFF;
    font-size: 13px;
    background-color: #001a3a;
    width: 150px;
    height: 40px;
    color: white;
    border: none;
    border-radius: 6px;
    margin-top: 20px;
    text-align: center;
}

.inputfield {
  margin-top: 10px;
}
