#header {
  border-radius: 0px;
  height: 60px;
  background-image: url(assets/logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 140px;

}
/*Hintergrundfarbe navbar*/
.navbar {
  background-color: #001a3a;
}

/*Ordnet den Buttons Bilder zu und macht den Hover-Effekt*/
#chapterOverview {
  background-image: url(assets/chapterOverview-inactive.png);
}

#chapterOverview:hover {
  background-image: url(assets/chapterOverview-active.png);
}

#educationalPlan {
  background-image: url(assets/educationalPlan-inactive.png);
}

#educationalPlan:hover {
  background-image: url(assets/educationalPlan-active.png);
}

#achievedCompetences {
  background-image: url(assets/achievedCompetences-inactive.png);
}

#achievedCompetences:hover {
  background-image: url(assets/achievedCompetences-active.png);
}

#profile {
  background-image: url(assets/student/superhero-robin-inactive.png);
}

#profile:hover {
  background-image: url(assets/student/superhero-robin-active.png);
  filter: contrast(100%);
  filter: brightness(100%);
}

#schoolProfile {
  background-image: url(assets/school/school-inactive.png);
}

#schoolProfile:hover {
  background-image: url(assets/school/school-rose-active.png);
}

#studyGroupProfile {
  background-image: url(assets/studyGroup/studyGroup_2b_inactive.png);
}

#studyGroupProfile:hover {
  background-image: url(assets/studyGroup/studyGroup_2b_active.png);
}

#help {
  background-image: url(assets/help-inactive.png);
}

#help:hover {
  background-image: url(assets/help-active.png);
}

#logout {
  background-image: url(assets/logout-inactive.png);
}

#logout:hover {
  background-image: url(assets/logout-active.png);
}

.dropdown {
  z-index: 1;
  position: relative;
  display: inline-block;
}

/* definiert gesamtes Dropdown Menu der Buttons */
.dropdownContent {
  display: none;
  position: fixed;
  background-color: white;
  min-width: 160px;
  border: solid white 2px;
  border-radius: 2px;
  width: 250px;
  overflow: hidden;
}

/* Höhe des gesamten Dropdowns */
.dropdownHeight {
  height: calc(100% - 120px) !important;
}

/* Macht das Dropdown Menue scrollbar */
.dropdownScrollable {
  max-height: calc(100% - 115px);
  overflow: auto;
  margin-right: -20px;
}

#dropdownChapterOverview {
  left: 32px;
}

#dropdownEducationalPlan {
  left: 78px;
}

#dropdownAchievedCompetences {
  left: 122px;
}

#dropdownProfile {
  right: 227px;
}

#dropdownSchoolProfile {
  right: 180px;
}

#dropdownStudyGroupProfile {
  right: 132px;
}

#dropdownHelp {
  right: 75px;
}

#dropdownLogout {
  right: 30px;
}

/* unteren Dropdown-Menu Felder der Buttons */
.dropdownContent a {
  text-align: left;
  font-size: 13pt;
  color: #4565ad;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: #001a3a;
  margin: 2px 0px;
  border-radius: 2px;
}

/* bewirkt dass die Dropdown-Menues der Buttons erst beim Hovern sichtbar wird */

.dropdown:hover .dropdownContent {
  display: block !important;
}

/* Effekt*/

.dropdownContent a:hover {
  background-color: #8da6d6;
  color: white;
  text-decoration: none;
}

/* DropdownHeader weden definiert */
.dropdownHeader {
  background-color: #001a3a;
  min-height: 125px;
}

/* die Bilder im DropdownHeader werden angepasst */
.dropdownHeaderPicture {
  width: 90px !important;
  margin-top: 7px;
  margin-left: 7px;
}

/* passt die beiden Textfelder an */
.dropdownHeader1 {
  padding: 7px;
  text-align: left;
  font-size: 13pt;
  color: #4565ad;
  margin-left: 10px;
  right: 20px;
}

.dropdownHeader2 {
  padding: 7px;
  font-size: 13pt;
  color: white;
  font-family: roboto-thin;
}

.navButton {
  background-color: #353635;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  margin: 10px 1px;
}

.spliten {
  display: inline-block;
  height: 30px;
  width: 1px;
  margin: 0px 3px;
  border-left: solid #4565ad 1px;
}

/* Farben in den Dropdown-Menues "Kompetenzliste" und "Das kann ich" */

.chapter00 {
  color: white !important;
}

.chapter01 {
  background-color: #79ab2e !important;
}

.chapter01:hover {
  background-color: #a1c153 !important;
}

.chapter02 {
  background-color: #c6d54f !important;
}

.chapter02:hover {
  background-color: #dbe283 !important;
}

.chapter03 {
  background-color: #94c122 !important;
}

.chapter03:hover {
  background-color: #bad151 !important;
}

.chapter04 {
  background-color: #44b284 !important;
}

.chapter04:hover {
  background-color: #7cc3a3 !important;
}

.chapter05 {
  background-color: #ffdd00 !important;
}

.chapter05:hover {
  background-color: #ffea64 !important;
}

.chapter06 {
  background-color: #ffed98 !important;
}

.chapter06:hover {
  background-color: #fff3d8 !important;
}

.chapter07 {
  background-color: #fbb900 !important;
}

.chapter07:hover {
  background-color: #ffcf53 !important;
}

.chapter08 {
  background-color: #ef7d25 !important;
}

.chapter08:hover {
  background-color: #f5a04c !important;
}

.chapter09 {
  background-color: #d60d66 !important;
}

.chapter09:hover {
  background-color: #e35184 !important;
}

.chapter10 {
  background-color: #ea518d !important;
}

.chapter10:hover {
  background-color: #ee7ba9 !important;
}

.chapter11 {
  background-color: #f29db7 !important;
}

.chapter11:hover {
  background-color: #f7bed2 !important;
}

.chapter12 {
  background-color: #a62068 !important;
}

.chapter12:hover {
  background-color: #c9427e !important;
}

.chapter13 {
  background-color: #008fc8 !important;
}

.chapter13:hover {
  background-color: #4fa8da !important;
}

.chapter14 {
  background-color: #62c2d0 !important;
}

.chapter14:hover {
  background-color: #94d3e5 !important;
}

.chapter15 {
  background-color: #004077 !important;
}

.chapter15:hover {
  background-color: #005daa !important;
}

.chapter16 {
  background-color: #3873b9 !important;
}

.chapter16:hover {
  background-color: #658bc8 !important;
}
