<app-navbar></app-navbar>

<div id="picturePosition" class="divCenter">
  <img src="assets/delete-profile.png" height="70" width="70"/>
</div>

<p id="siteTitle" class="divCenter">PROFIL L&Ouml;SCHEN</p>

<table align="center">
  <colgroup>
    <col width="100">
    <col width="300">
    <col width="100">
  </colgroup>
  <tr>
    <td align="center" valign="middle" id="fontPassword">PASSWORT*</td>
    <td align="center" valign="middle"><input type="password" id="passwordField" class="field-border"></td>
    <td></td>
  </tr>
</table>

<div class="divCenter">
  <button type="submit" id="deleteButton" (click)="deleteAccount()">L&Ouml;SCHEN</button>
</div>
