.background {
    background-color: #0000FF;
}

.illulinks {
    width: 340px;
    margin-top: 20px;
}

.illurechts {
    width: 340px;
    margin-top: 30px;
    margin-right: 350px;

}

.kapitelfahne {

}

.row{background-color: #3C3CB4;}

.col-md-4 {
    margin-top: 100px;
}

.bubble-text {
    width: 369px;
    height: 120px;
    background: url("/../../assets/contentTextBubble.png") no-repeat top left;
    background-size: contain;
    margin: 5px;
    padding: 20px;
    position: relative;
}

.bubble-text img {
    position: absolute;
    right: 40px;
    top: 20px;
    cursor: pointer;
}

.bubble-text span {
    font-size: 10px;
    position: absolute;
    left: 15px;
    bottom: 10px;
}

.popover {
    display: none;
    position: absolute;
    z-index: 99999999;
    right: -240px;
    top: 15px;
    width: 250px;
    min-height: 50px;
    padding: 10px;
    font-family: 'Josefin Sans', sans-serif !important;
    font-weight: 400;
    font-size: 13px;
    color: #fff;
    background: #001A3A;
    border-radius: 5px;
    border: #fff solid 3px;
}
