.close-button{
  margin-left: 250px;
}
.success {
    background-color: #001A3A;
}

.overlay-box {

    position: fixed;
    border-style: solid;
    border-color: white;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 100px;
    font-family: 'Josefin Sans';
    font-weight: 200;
    color: #FFF;
    text-align: center;
    top: 20%;
    padding-top: 20px;

}
