.close-button{
  margin-left: 250px;
}
.success {
    background-color: #b71967;
}

.overlay-box {

    position: fixed;
    border-style: solid;
    border-radius:12px;
    border-color: white;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 200px;
    font-family: 'Josefin Sans';
    font-weight: 200;
    color: #FFF;
    text-align: center;
    top: 20%;
    padding-top: 20px;

}
