<app-navbar></app-navbar>

<div class="row" [ngStyle]="setStyle()">

    <div class="col-md-4">
        <img class="kapitelfahne" src=".\assets/chapter10/littleChapterFlag.png" alt="kapitelfähnchen">

        <img class="illulinks" src=".\assets/illustrations/illustrationLeft.png" alt="illuLinks">
    </div>

    <body>
      <div class= "overlay-box success">

                <p id ="dialogText" >	hinweistext </p>

              </div>
                </body>


    <div class="col-md-4">
        <div class="bubble-text" *ngFor="let competence of completetChapters">
            <p>{{competence.studentText}}</p>
            <img popover="asdasd" id="competenceDone" src="assets/chapter{{competence.chapterId}}/competenceDone.png"
                 alt="chapter">
            <span class="number">{{competence.number}}</span>
            <div class="popover"><p>Du hast diese Kompetenz am {{competence.fromDate}} erreicht!</p></div>

        </div>
    </div>

    <div class="col-md-4">
        <img class="illurechts" src=".\assets/illustrations/illustrationRight.png" alt="illuRechts">
    </div>
</div>

<script>
    $("#competenceDone").hover(
        function () {
            $("popover").showPopup()
        }, function () {
            $("popover").hidePopup();
        }
    );
</script>
<app-bottombar></app-bottombar>
